.Nav {
    color:maroon;
    background-color: bisque
}

body {
    background-color: blanchedalmond;
    background-attachment: fixed;
    
    background-image: url(..\a.jpeg);
    
}
Image {
    
}